<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

  <form action="/login" method="post">
  
  <label>Login your Details</label>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
 
  <label>Enter your email</label>
  <input type="email" name="email">
  <br>
  <br>
  <br>
  <label>Enter your password</label>
  <input type="text" name="password">
  <br>
  <br>
 
 
  <input type="submit" value="Login">
  </form>
  

</body>
</html>